body{
    background-color: black;
}
h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.main{
    position: relative;
    margin: 100px;
    max-width: 100%;

}
.title{
    position: absolute;
    top: 50% ;
    left: 60%;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.subtitle{
    position: absolute;
    top: 56%;
    left: 57%;
    color: black;
    font-size: 150%;
    font-weight: bold;

}
.resume{
    position: absolute;
    top: 70%;
    left: 64%;
    padding: 10px 20px;
    background-color: coral;
    color: orange;
    font-weight:bold;
}
.cont{
  text-align: center;

}
.specialized{
    font-size: 30px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    
}
p{
    
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;  
}
.special{
    text-align: center;
    position: relative;
}
.img_spec{
    
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 50px;

}
.java_name{
    position:absolute;
    color:white;
    left: 10%;
    top: 50%;
}
.java_prof{
    position: absolute;
    color: white;
    left: 10%;
    top: 75%;
}
.andr_name{
    position: absolute;
    color:white;
    left: 38%;
    top: 50%;

}
.andr_prof{
    position: absolute;
    color:white;
    left: 38%;
    top: 75%;
}
.adobe_name{
    position: absolute;
    color:white;
    left: 68%;
    top: 50%;

}
.adobe_prof{
    position: absolute;
    color:white;
    left: 68%;
    top: 75%;

}
h2{
    font-weight: bold;
    color: white;
}
.desc {
    text-align: left;
    color: black;
    color: white;
  }
  
  
  
  .project_title {
      font-weight: bolder;
      font-size: 30px;
      text-align: center;
      color: white;
      margin-bottom: 30px;
    }
  
    .project_img {
      text-align: center;
    }
    
    .prev {
    
    
      margin-bottom: 100px;
    }
    
    .next {
      margin-bottom: 100px;
    }
    
    .actual_img {
      border-radius: 15px;
    }
    
  
    .project_desc {
      margin-left: 180px;
    }
    
    .project_content {
      text-align: left;
      color: white;
    }
    
    .project_name {
      text-align: left;
      color: white;
      margin-left: 20px;
    }
  
   
  .img_container {
    float: left;
    width: 33%;
    padding-top: 50px;
  }
  
  .img_resume {
    border-radius: 15px;
  }
  .contact_me {
    margin-top: 100px;
    text-align: center;
    justify-content: left;
  }